body {
    font-family: sans-serif;
}
header{
    background-color: rgb(255, 0, 0);
    padding: 5px
}
h1{
    color: blue;
    font-size: 45px;
    text-align: center;
    border: 2px dashed rgb(0, 185, 185);
    padding: 5px;
    border-radius: 20px;
}
footer{
    background-color: blueviolet;
    color: rgb(57, 244, 0);
    padding: 10px
}
